@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.activity::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: #3a556a;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -100px;
}

.activity::after {
  content: "";
  width: 2px;
  height: 104%;
  background: transparent; /* Set background to transparent */
  border-left: 2px dotted #a3a3a37b; /* Use border for the dotted line */
  position: absolute;
  top: 52%;
  left: -77px;
  z-index: -1;
}

.last-activity::after {
  display: none;
}
