@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.activity::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: #3a556a;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -100px;
}

.activity::after {
  content: "";
  width: 2px;
  height: 104%;
  background: transparent; /* Set background to transparent */
  border-left: 2px dotted #a3a3a37b; /* Use border for the dotted line */
  position: absolute;
  top: 52%;
  left: -77px;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .activity::before {
    content: "";
    width: 36px;
    height: 36px;
    background-color: #3a556a;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: -50px;
  }

  .activity::after {
    content: "";
    width: 2px;
    height: 104%;
    background: transparent; /* Set background to transparent */
    border-left: 2px dotted #a3a3a37b; /* Use border for the dotted line */
    position: absolute;
    top: 52%;
    left: -33px;
    z-index: -1;
  }
}

.last-activity::after {
  display: none;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #3a556a;
  border-color: #3a556a transparent #3a556a transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.profile-item:hover svg path {
  fill: #fff;
}
